{% extends 'bizcontacts/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container search-container">
        <!-- START SEARCH -->
        <section class="section">
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <form>
                    <!-- <form method="get" action="search/"> -->
                        <input id="search_input" name="q" class="input" type="text" placeholder="Search your contacts">
                        <span class="icon is-small is-left">
                            <i class="fa fa-search"></i>
                        </span>
                    </form>
                </div>
            </div>
        </section>
        <!-- END SEARCH -->
        <section class="section" id="contact_cards">
            {% if contact_list %} 
                {% for contact in contact_list %}
            <div class="card biz-card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ contact.name }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Company:
                            <span>{{ contact.business_name }}</span>
                        </p>
                        <p>Website:
                                <span><a href="//{{ contact.website }}" target="_blank">{{ contact.website }}</a></span>
                            </p>
                        <p>Cell:
                            <span>(801)-971-0797</span>
                        </p>
                        <p>Work Phone:
                                <span>(801)-971-0797</span>
                            </p>
                        <p>Email:
                            <span>{{ contact.email }}</span>
                        </p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Save</a>
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </div>
                {% endfor %} 
            {% endif %}
        </section>
    </div>
    <!-- NEW CONTACT MODAL -->
    <div class="modal" id="new-contact-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    <div>To autofill the information and save the bussiness card, upload the photos below.</div>
                    <div class="field is-grouped">
                        <div class="file">
                            <label class="file-label">
                            <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                    Upload the front photo of card...
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="file">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                    <span class="file-cta">
                                        <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                        Upload the back photo of card...
                                        </span>
                                    </span>
                            </label>
                        </div>
                    </div>
                    <form method="post" action="newcontact/">
                        <div id="photo-upload-form"></div>
                        <div id="contact-info-form"></div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" id="submit-login-button" type="submit">Create</button>
                            </div>
                            <div class="control">
                                <button class="button is-text" id="cancel-login-button" type="reset">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <div class="add-button-container" id="new-contact-button">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
    </div>
{% endblock %}

{% block scripts %}
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="{% static 'bizcontacts/javascript/app.js' %}"></script>
{% endblock %}
