{% extends 'bizcontacts/base.html' %}
{% load static %}
{% block content %}
    <div class="container search-container">
        <!-- START SEARCH -->
        <section class="section">
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Search your contacts">
                    <span class="icon is-small is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
        </section>
        <!-- END SEARCH -->
        <section class="section">
            {% if contact_list %} 
                {% for contact in contact_list %}
            <div class="card biz-card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ contact.name }}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <p>Company:
                            <span>{{ contact.business_name }}</span>
                        </p>
                        <p>Cell:
                            <span>(801)-971-0797</span>
                        </p>
                        <p>Email:
                            <span>k90armstrong@gmail.com</span>
                        </p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Save</a>
                    <a href="#" class="card-footer-item">Edit</a>
                    <a href="#" class="card-footer-item">Delete</a>
                </footer>
            </div>
                {% endfor %} 
            {% endif %}
        </section>
    </div>
    <!-- NEW CONTACT MODAL -->
    <div class="modal" id="new-contact-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card">
                <div class="card-content">
                    <form method="post">
                        <div id="photo-upload-form"></div>
                        <div id="contact-info-form"></div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" id="submit-login-button" type="submit">Create</button>
                            </div>
                            <div class="control">
                                <button class="button is-text" id="cancel-login-button" type="reset">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div class="add-button-container" id="new-contact-button">
        <a href="{% url 'upload' %}">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
        </a>
    </div>
{% endblock %}

{% block scripts %}
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
{% endblock %}
