{% extends 'bizcontacts/base.html' %}
{% block content %}
    <section class="section">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-white">
                        Time to stop the hassel of managing business contacts
                    </h1>
                    <a>
                        <h2 class="subtitle is-white" id="join-button">
                            Join BizContacts for free
                        </h2>
                    </a>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block scripts %}
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<script src="{% static 'bizcontacts/javascript/welcome.js' %}"></script>
{% endblock %}
