<!-- NEW CONTACT MODAL -->
    {% csrf_token %}
    <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left has-icons-right">
            <input name="name" class="input" placeholder="Sam Wise">
            <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Company</label>
        <div class="control has-icons-left has-icons-right">
            <input name="business_name" class="input" placeholder="Walmart">
            <span class="icon is-small is-left">
            <i class="fa fa-building"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Website</label>
        <div class="control has-icons-left has-icons-right">
            <input name="website" class="input" placeholder="www.awesome-domain.com">
            <span class="icon is-small is-left">
            <i class="fa fa-html5"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Cell Phone</label>
        <div class="control has-icons-left has-icons-right">
            <input name="cell_number" class="input" placeholder="(XXX)-XXX-XXXX">
            <span class="icon is-small is-left">
            <i class="fa fa-mobile"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Work Phone</label>
        <div class="control has-icons-left has-icons-right">
            <input name="work_number" class="input" placeholder="(XXX)-XXX-XXXX">
            <span class="icon is-small is-left">
            <i class="fa fa-phone"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input name="email" class="input" type="email" placeholder="samwise@theshire.com">
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Notes</label>
        <textarea name="notes" class="textarea" placeholder="This guy will have some good leads!"></textarea>
    </div>
</form>
                