<!-- NEW CONTACT MODAL -->
<form method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left has-icons-right">
            <input name="email" class="input" type="email" placeholder="Sam Wise">
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Company</label>
        <div class="control has-icons-left has-icons-right">
            <input name="email" class="input" type="email" placeholder="Walmart">
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Website</label>
        <div class="control has-icons-left has-icons-right">
            <input name="email" class="input" type="email" placeholder="www.awesome-domain.com">
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Cell Phone</label>
        <div class="control has-icons-left has-icons-right">
            <input name="email" class="input" type="email" placeholder="(XXX)-XXX-XXXX">
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Work Phone</label>
        <div class="control has-icons-left has-icons-right">
            <input name="email" class="input" type="email" placeholder="(XXX)-XXX-XXXX">
            <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
            </span>
        </div>
    </div>
    <div class="field">
        <label class="label">Notes</label>
        <textarea class="textarea" placeholder="This guy will have some good leads!"></textarea>
    </div>
</form>
                